<<<<<<< HEAD
@use "../Basics/variables";
=======

%button{
    border:none;
    padding:2em;
    border-radius:3px;
    
}

// @use "../Basics/variables";
>>>>>>> 288d503f941c8ca1498fefcf3a2de951dbc6a60b
%button{
    border: none;
    padding:2em 2.5em;
    border-radius:5px;
    cursor: pointer;
}

