// flexbox
@mixin flex($jsutify:flex-start, $align:flex-start, $direction:row, $wrap:nowrap)
{justify-content:$justify;
    align-items:$align;
    flex-direction:$direction;
    flex-wrap:$wrap;
    
}