$primary_1:#DCB692;
$primary_2:#FF8FB1;
$primary_3:#D4EBF0;
$primary_4:#BAE8D4;
$primary_5:#0B1C2C;
$primary_6:#7D5757;
$roboto: 'Roboto', sans-serif;
$pacifico: 'Pacifico', cursive;
$lato:'Lato', sans-serif;
$weather: 'Merriweather', serif;
$display: 'Playfair Display', serif;
$kaushan:$display 'Kaushan Script', cursive;







