@use"../Basics/mixin";
@use"../Basics/variables" as *;
@use "../Basics/inheritance";

.footer {
    @extend %button;
background:$primary_11;
    
}

.subscribe {
background: $primary_2;
text-align: center;
   
}

