@use"../Basics/mixin";

.main__popular{
    @include mixin.flex(space-between,center,row,wrap);
    background:#FBA1A1;

}

.main__img{
    width:300px;
    height: 300px;
}

.main__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.memory-section{
    @include mixin.flex(space-between,center,row,wrap);  
  background:$primary_1;
}
.button{
    background:#FF8FB1 ;
    box-shadow: #000000;
}
