@use "../Basics/mixin" as *;
@use "../Basics/variables" as *;
@use "../Basics/base";

.about{
    @include flex(space-between,center,row,nowrap);
    padding:3em 0;
 
}

.aboutimage{
    height:40vh;

    img {
        object-fit: cover;
        object-position: center;
    }

}