@use "../Basics/mixin";
@use "../Basics/variables";



.nav{
    
   @include mixin.flex(space-between,flex-start,row,wrap);
   list-style-type: none;
  
   ul{
       @include mixin.flex(space-between,center,row,wrap);
       list-style-type: none;
       gap:1em;}

     li{
       cursor:pointer;
      
      
   }
        
    


   }
