@use "../Basics/mixin";
@use "../Basics/variables";



.nav{
  background-color:whitesmoke;
  position: fixed;
  width:100%;

.nav__logo{
    
   @include mixin.flex(space-between,flex-start,row,wrap);
   list-style-type: none;
   padding:2em 0;
   
  
   ul{
       @include mixin.flex(space-between,center,row,wrap);
       list-style-type: none;
       gap:2em;}

       a{
        color:pink;
        text-decoration:none;
       }
     li:hover{
       cursor:pointer;
       
       
      
   }
        
    


   }
}